%h1== Results for #{@gen} in #{@job}
%a{:href => "/#{@job}"} Back to results
%table
  %th Mirna
  %th Score
  - @gene_targets.each do |p|
    %tr
      %td
        %a{ :href => "/#{@job}/m/#{p[:mirna]}" }=p[:mirna]
      %td=p[:score]
