%h1== Results for #{@job}
%p
  Download results files
%ul
  %li
    %a{:href => "/results/#{@job}_targets.txt"} Targets
  %li
    %a{:href => "/results/#{@job}_gene.txt"} Genes 
  %li
    %a{:href => "/results/#{@job}_mirna.txt"} MiRNAs
  %li
    %a{:href => "/results/#{@job}_tarbase_pvalues.png"} [tarbase] Hypergeometric p-values
  %li
    %a{:href => "/results/#{@job}_tarbase_hits.png"} [tarbase] Hits
%center
  %a.first{:href => "/#{@job}"} First
  - if @page.prev?
    %a.separated{:href => "/#{@job}?page=#{@page.prev.number}"} <<
  [
  = @page.number
  ]
  - if @page.next?
    %a.separated{:href => "/#{@job}?page=#{@page.next.number}"} >>
  %a.last{:href => "/#{@job}?page=#{@page.last.number}"} Last
%table
  %th Gene
  %th miRNA
  %th Score
  - @page.each do |p|
    %tr
      %td
        %a{:href => "#{@job}/g/#{p[:gen]}"}=p[:gen]
      %td
        %a{:href => "#{@job}/m/#{p[:mirna]}"}=p[:mirna]
      %td=p[:score]
