%h1== Results for #{@job}
%p
  Download results files:
  %a{:href => "/results/#{@job}_targets.txt"} [Targets]
  %a{:href => "/results/#{@job}_gene.txt"} [Genes]
  %a{:href => "/results/#{@job}_mirna.txt"} [MiRNAs]
%center
  %p
    .resultimages
      #rightimage
        %h3 Validation of results (tarbase)
        %a{:href => "/#{@job}/validation_tarbase"}  
          %img{:src => "/results/#{@job}_tarbase_pvalues.png", :width => "350px"}
        %h3 Hits distribution map (tarbase)
        %a{:href => "/#{@job}/validation_tarbase"}
          %img{:src => "/results/#{@job}_tarbase_hits.png", :width => "350px"}
      #leftimage
        %h3 Validation of results (mirecords) 
        %a{:href => "/#{@job}/validation_mirecords"}
          %img{:src => "/results/#{@job}_mirecords_pvalues.png", :width => "350px"}
        %h3 Hits distribution map (mirecords)
        %a{:href => "/#{@job}/validation_mirecords"}
          %img{:src => "/results/#{@job}_mirecords_hits.png", :width => "350px"}
%p
%center
  %a{:name => "table"}
  %h3 Table of results
%center
  %a.first{:href => "/#{@job}#table"} First
  - if @page.prev?
    %a.separated{:href => "/#{@job}?page=#{@page.prev.number}#table"} <<
  [
  = @page.number
  ]
  - if @page.next?
    %a.separated{:href => "/#{@job}?page=#{@page.next.number}#table"} >>
  %a.last{:href => "/#{@job}?page=#{@page.last.number}#table"} Last
%table
  %th Gene
  %th miRNA
  %th Score
  - @page.each do |p|
    %tr
      %td
        %a{:href => "#{@job}/g/#{p[:gen]}"} [+]
        %a{:href => "http://www.ensembl.org/Homo_sapiens/Gene/Summary?g=#{p[:gen]}"}=p[:gen] 
        == #{NAMES[p[:gen]]}

      %td
        %a{:href => "#{@job}/m/#{p[:mirna]}"} [+]
        = p[:mirna]
      %td=p[:score]
